/*toggle between past and ongoing quests*/
.toggle-option[checked]{
  background-color: #cbcbcb
}
.toggle-option{
  cursor: pointer;
  border-radius: 5px;
}
.toggle-option:hover{
  outline: 1px solid;
}
div:has(.toggle-option#ongoing[checked]) ~ #content-ongoing {
  display: block !important;
}
div:has(.toggle-option#past[checked]) ~ #content-past {
  display: block !important;
}

/*showing filter div if toggled to past content*/
#past[checked] ~ #filter {
  display: block !important;
}

/*showing filter options when hovered over*/
#filter:hover > div {
  display: block;
}